*{
    margin: 0;
    border: 0;
}
body{
    margin: 20px;
    padding: 80px;
}
.container{
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 0 0 5px rgb(122, 38, 38);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 80px;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: left;
    padding: 15px;
}
@media (max-width: 786px) {
    body{
        margin: 5px;
        padding: 25px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h1{
        font-size: 50px;
        padding-bottom: 20px;
    }
    p{
        font-size: medium;
    }
}
@media (max-width: 480px) {
    body{
        margin: 5px;
        padding: 20px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h1{
        font-size: 50px;
        padding-bottom: 20px;
    }
    h2{
        font-size: 1.2em;
    }
    p{
        font-size: medium;
    }
}